:root {
  --grey: rgb(72, 72, 72);
  --lightgrey: rgb(181, 178, 178);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font-family: 'Biryani',
sans-serif;
font-family: 'Cuprum',
sans-serif;
font-family: 'Source Code Pro',
monospace; */

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url(../images/pexels-brett-sayles-1431822.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  display: flex;
}

.container {
  padding: 20px 5px;
  color: white;
  display: flex;
}

.searchbar {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  flex: 0 0 20%;
  width: 100%;
  margin-right: 0;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 0 80%;
}

.time {
  font-size: 4rem;
}

#am-pm {
  font-size: 3rem;
  margin-left: .5rem;
}

.date {
  font-size: 1.7rem;
  padding-top: .5rem;
}

.place-container {
  text-align: end;
}

.time-zone {
  font-size: 1.5rem;
}

.country {
  font-size: 1rem;
}

.current-info .others {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27, 0.4);
  padding: 1rem;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid var(--lightgrey);
}

.current-info .others .weather-item {
  display: flex;
  justify-content: space-between;
}

.weather-item {
  font-size: 1.3rem;
}

.future-forecast {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: rgba(24, 24, 27, 0.4);
  color: white;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  font-size: .8rem;
}

.future-forecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
}

.future-forecast .today .day {
  padding: 5px 15px;
  background: var(--grey);
  border-radius: 15px;
  text-align: center;
}

.future-forecast .today .temp {
  font-size: 1.2rem;
  padding-top: .3rem;
}

.today {
  border: 1px solid var(--lightgrey);
  border-radius: 10px;
  padding: 1rem;
}

.weather-forecast {
  display: flex;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 .3rem;
  border: 1px solid var(--lightgrey);
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;
}

.day {
  padding: .3rem .6rem;
  background: var(--grey);
  border-radius: 15px;
  text-align: center;
}

#submitBtn {
  border-radius: 15px;
  background-color: var(--grey);
}

#button {
  border-radius: 15px;
  background: rgba(24, 24, 27, 0.4);
  width: 100%;
  display: block;
  padding: .3rem;
  color: white;
  margin: .1rem;
  border-color: rgb(206, 206, 211);
}



@media only screen and (max-width: 730px) {


  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }

  .future-forecast .today .temp {
    font-size: 1rem;
  }

  .date-container .time {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }
}